#film {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #73c2fb;
    color: white;
}

.card {
    background-color: #abb7b7;
}