#enter-page{
    background-image: url('/public/imgs/main.png');
    background-size: cover;
    background-color: palevioletred;
    padding-top: 500px;
    text-align: center;
    font-size: 20px;
}

#film {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #73c2fb;
    color: white;
}

.card {
    background-color: #abb7b7;
}

