<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="/js/script.js"></script>
    <title>House of Ghibili</title>
</head>
<body>
    <h1>House of Ghibili</h1>
    <form id="form">
        <input type="text" placeholder="keyword">
        <input type="submit" value="get movie info">
    </form>
    <div id="film">
    </div>
    <div id="new">
    </div>

    <button id="reset" type="reset" value="reset">Reset</button>
    
</body>
</html>